<!doctype>
<html>
	<head><p align='center'> <font size = "55" color="#97236D"><b> SQUIRREL TRACKER</b></font> </p>
	</head>
<style>
body {
	background-image:url('https://prod-marketing-greenhouse.global.ssl.fastly.net/blog-assets/SquirrelNewSmall.png?mtime=20180815163644');
	background-repeat:no-repeat;
	background-size:cover;
}
ul {
	list-style-type:none;
}
li{
	font-size:25px;
}
a{
	text-decoration:none;
</style>
	<body>
		<ul>
			<li align="center"><a href = 'sightings/add/'><font color="#1B44DB">Add a new squirrel</font></a></li>
                		<li align="center"><a href = 'sightings/'><font color="#1B44DB">View the list of  squirrels </a></li>
				<li align="center"><a href = 'sightings/stats/'><font  color="#1B44DB">View the stats related to the squirrel sightings </a></li>
				<li align="center"><a href = 'map/'><font color="#1B44DB">Map view </a></li>
        		</ul>
			<p align="center"> {% load static %} </p>
		</body>
</html>
