<!doctype>
<html>
        <head>
                <title> Stats </title>
                <a href ='/sightings'>Back to sightings page</a>
                <h1 align="center"> The stats of squirrel sightings</h1>
        </head>
        <body>
                <p>
                        <ul>
                                <li> Squirrels Shift Count:
                                        <ul>
                                                <li>AM: {{ am }} </li>
                                                <li>PM:  {{ pm  }} </li>
                                        </ul>
                                </li><br>
                                <li>Number of squirrels Running:  {{ running }} </li><br>
                                <li>Number of squirrels Chasing:  {{ chasing }} </li><br>
                                <li>Number of squirrels Eating:  {{ eating  }} </li><br>
                                <li> Number of squirrels Climbing:  {{climbing  }} </li><br>
                        </ul>
                </p>
        </body>
</html>
